@charset "utf-8";

/*==================================================
                  Functional Class
==================================================*/

/*** Clearfix ***/
.c{ 
    clear: both; 
}
._c:after{
    content: '';
    display: block;
    clear: both;
}

.hide{ display: none; }





/*==================================================
                        Tag
==================================================*/
/*** Document ***/
body,
html {
    width: 100%;
    height: auto;
    
    font-family: $font-stack;
    font-size: $setFz;

    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}



/*** Common ***/
a{
    text-decoration: none; 
    transition: all .1s ease-out;
    color: inherit;

    display: block; 
}

img{ 
    max-width: 100%; 
    display: block; 
}



/*** Text ***/
// h1{}
// h2{}
// h3{}
// h4{}
// h5{}
// h6{}
// p{}
// span{}