/*==================================================*\
        Common Style
\*==================================================*/

/*==================== Document ====================*/
html, 
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    
    font-family: $fontStack;
    font-size: $rootFz;
}
  
// body {
    // iPhone 滑動不順的時候可以使用
    // -webkit-overflow-scrolling: touch;
// }

/*==================== Normal Tags ====================*/
select,
input,
textarea {
    font-family: $fontStack;
}

/*==================== Container ====================*/
// main {
// }

// section {
// }

// .container {
// }

/*==================== Functional Classes ====================*/
// Clearfix
._c:after {
    content: '';
    clear: both;
    display: block;
}
